.centerDiv{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.centerDiv h1{
    font-weight: bold;
    font-size: 30;
}

.centerDiv p{
    font-size: 25px;
}