.appDiv{
    background-image: linear-gradient(to bottom, rgba(117, 19, 93, 0.73), rgba(245, 246, 252, 0.52)),
    url('../desktop-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}